$roboto-font-path: '../node_modules/roboto-fontface/fonts';
$md-font-icon-separator-padding: 6px;
$md-font-icon-include-dense: false;
$font-family: 'Roboto', sans-serif;

@import '~roboto-fontface/css/roboto/sass/roboto-fontface';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~react-md/src/scss/react-md';

$md-light-theme: false;
$md-primary-color: $md-deep-orange-500;
$md-secondary-color: $md-light-blue-a-200;

@include react-md-everything;


.os-component {
  cursor: pointer;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
